{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ZuZu Home</title>
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-collapse  bg-light">
        <div class="container">
            <a class="navbar-brand text-danger" href="#"><h1>Piz<span class="text-success">za</span></h1></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse  d-flex justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex justify-content-end">

                    <li class="nav-item ">
                        <a class="nav-link text-dark" href="contact">contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#" tabindex="-1" aria-disabled="false">login</a>
                    </li>
                </ul>

        </div>
        </div>
    </nav>
    </div>

    <!-- Header -->
    <div class="img-bg"></div><br>

    <!-- Tekst -->
    <h2 class="container-fluid text-center">
        Goededag, welkom bij supranos pizzas
    </h2>
    <p class="container-fluid text-center">
        Wij zijn gespecialiceerd in de italiaanse keuken met hoogtepunt de pizzas
    </p>

    <p class="container-fluid text-center">

    </p>

    <!-- Cards -->
    <div class="container">
    <div class="row">
        {% for product in products %}

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-text text-center">{{ product.name }}</h4>

                    <div class="card-text text-center"><img src="{{ asset(product.img) }}"></div>
                    <a href="category">bestel hier</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div><br>
    </div>
    <!-- Footer -->
    <footer class="container-fluid bg-dark text-light">
        <div class="row">
            <div class="col-6">
                <p class="text-center"><br>
                    <strong class="text-center">Contactgegevens</strong>
                <p class="text-center">Restaurant ZuZu<br>
                    Appelstraat 1<br>
                    1111AA Fruit<br>
                    zuzu@gmail.com<br>
                    06 12345678<br>
                </p>
                </p>
            </div>

            <div class="col-6">
                <p class="text-center"><br>
                    <strong class="text-center">Openingstijden</strong>
                <p class="text-center">Maandag: Gesloten<br>
                    Dinsdag: 16:00 - 22:00<br>
                    Woensdag: 16:00 - 22:00<br>
                    Donderdag: 16:00 - 22:00<br>
                    Vrijdag: 16:00 - 22:00<br>
                    Zaterdag: 16:00 - 22:00<br>
                    Zondag: Gesloten<br>
                </p>
                </p>
                </div>
            </div>
    </footer>
    </body>
    </html>
{% endblock %}
